<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="socket" value=""/>
		<add key="licencia" value=""/>
		<add key="punto" value=""/>
    <add key="url_validate_login" value="https://back.vinapp.co/api/authenticate"/>
    <add key="url_logo" value="https://admin.vinapp.co/sin_imagen.png"/>
    <add key="espaciado_logo" value="-150"/>
		<add key="x_logo" value="50"/>
		<add key="espaciado_resolucion" value="45"/>
		<add key="nombre_licencia" value=""/>
		<add key="permite_facturacion" value="true"/>
		<add key="permite_comanda" value="true"/>
		<add key="imprime_primero" value="comanda"/>
		<add key="family_letra" value="Arial"/>
		<add key="impresoras_facturacion_mesa" value="Generic"/>
		<add key="impresoras_facturacion_domicilio" value="Generic"/>
		<add key="impresoras_comanda" value="Generic"/>
		<add key="corte_automatico" value="true"/>
		<add key="espaciado_x" value="0"/>
		<add key="espaciado_x_comanda" value="0"/>
		<add key="espaciado_y_comanda" value="0"/>
		<add key="ancho" value="280"/>
		<add key="tama_fuente" value="0"/>
		<add key="letra_negrita" value="true"/>
		<add key="x_menos_detalles" value="0"/>
    <add key="tipo_papel" value="Normal"/>
    <add key="alto_comanda" value="800"/>
    <add key="login" value="false"/>
    <add key="puntos" value=""/>
    <add key="drivers_originales" value="false"/>
  </appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
	</startup>
</configuration>

